{
  "swagger": "2.0",
  "info": {
      "version": "3.0.0",
      "title": "DNZ Metrics API"
  },
  "host": "api.digitalnz.org",
  "basePath": "/v3",
  "schemes": [
      "http"
  ],
  "consumes": [
      "text/plain"
  ],
  "produces": [
      "application/json"
  ],
  "paths": {
    "/metrics": {
      "get": {
        "description": "Retrieve extended metrics, these are metadata about records grouped against a facet. In the official Supplejack API this is by display_collection",
        "parameters": [
          {
            "in": "query",
            "name": "facets",
            "description": "Filter extended metrics to only contain these facets, maximum allowed is 10",
            "required": true,
            "type": "array",
            "items": {
              "type": "string" 
            },
            "collectionFormat": "csv"
          },
          {
            "in": "query",
            "name": "start_date",
            "description": "start of date range",
            "required": false,
            "type": "string",
            "format": "date"
          },
          {
            "in": "query",
            "name": "end_date",
            "description": "end of date range",
            "required": false,
            "type": "string",
            "format": "date"
          },
          {
            "in": "query",
            "name": "metrics",
            "description": "extended metrics to retrieve",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"  
            },
            "collectionFormat": "csv"
          }
        ],
        "responses": {
          "200": {
            "description": "succesful operation",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ExtendedMetrics" 
              }
            }
          },
          "400": {
            "description": "Either the facets parameter was not supplied or more than 10 facets were supplied"
          },
          "404": {
            "description": "No extended metrics exist for the supplied date range" 
          }
        }
      }
    },
    "/metrics/facets": {
      "get": {
        "description": "Get a list of facets to query against the extended endpoint",
        "responses": {
          "200": {
            "description": "succesful operation",
            "schema": {
              "type": "array",
              "items": {
                "description": "Name of facet",
                "type": "string" 
              }
            }
          }
        }
      }
    }
  },
  "definitions": {
    "RecordMetadata": {
      "description": "Contains metadata about the records grouped by a facet on a specific day",
      "type": "object",
      "required": [
        "id",
        "total_active_records",
        "total_new_records",
        "category_counts",
        "copyright_counts"
      ],
      "properties": {
        "id": {
          "description": "Facet name",
          "type": "string"
        },
        "total_active_records": {
          "description": "Number of active records for this facet",
          "type": "number"
        },
        "total_new_records": {
          "description": "Number of new records for this facet",
          "type": "number"
        },
        "category_counts": {
          "description": "Mapping of categories to counts, object shape is dynamic so it has no schema",
          "type": "object"
        },
        "copyright_counts": {
          "description": "Mapping of copyrights to counts, object shape is dynamic so it has no schema",
          "type": "object"
        }
      }
    },
    "ViewMetadata": {
      "description": "Contains metadata about how records in a facet were viewed on a specific day",
      "type": "object",
      "required": [
        "id",
        "searches",
        "record_page_views",
        "user_set_views",
        "total"
      ],
      "properties": {
        "id": {
          "description": "Facet name",
          "type": "string"
        },
        "searches": {
          "description": "Number of times a record from this collection was part of a search result",
          "type": "number"
        },
        "record_page_views": {
          "description": "Number of times a record page for a record from this collection was viewed",
          "type": "number"
        },
        "user_set_views": {
          "description": "Number of times a record from this collection was viewed in a user set",
          "type": "number"
        },
        "total": {
          "description": "Cumulative count of all record views for this collection",
          "type": "number"
        }
      }
    },
    "ExtendedMetrics": {
      "description": "container object for all extended metrics objects",
      "type": "object",
      "required": ["day"],
      "properties": {
        "day": {
          "description": "Day this metric represents",
          "type": "string",
          "format": "date"          
        },
        "record": {
          "description": "Record metadata metric",
          "type": "array",
          "items": {
              "$ref": "#/definitions/RecordMetadata"
          }
        },
        "view": {
          "description": "Record view metadata metric",
          "type": "array",
          "items": {
              "$ref": "#/definitions/ViewMetadata"
          }
        }
      }
    }
  }
}